<form action="/cart/manipulate" method="post" data-buy  class="flex justify-between ph3 pb2 pt2 mt1 bb b--red">
    <div class="w-80 flex items-start">
        <div class="w-40 flex-shrink-0">
            <img src="{{if associatedModel.images[0] }}${associatedModel.images[0].full}{{else associatedModel.image}} ${associatedModel.image}{{else}} /storage/img/default.jpg {{/if}}" alt="">
        </div>
        <div class="flex flex-column dark-red f6 ml2 pl1">
            <p  class="mt0 mb1">${name}</p>
            <p class="mt0 mb1">${price} грн</p>
            <p class="mt0 mb1">${quantity} шт.</p>
        </div>
    </div>
    <div class="flex justify-end">

        <input type="hidden" name="uid" value="${attributes.uid}" >
        <button type="submit" name="action" value="remove" class="self-start dark-red mv0 pointer f4 bg-transparent bn">&times;</button>
    </div>
</form>
